{% extends "base.html" %}
{% block external %}
<link rel="stylesheet" href="/site_media/jquery.autocomplete.css" type="text/css" />
<script type="text/javascript" src="/site_media/dimensions.js"></script>
<script type="text/javascript" src="/site_media/jquery.bgiframe.min.js"></script>
<script type="text/javascript" src="/site_media/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/site_media/tag_autocomplete.js"></script>
{% endblock %}

{% block title %}북마크를 저장하세요.{% endblock %}
{% block head %}북마크를 저장하세요.{% endblock %}

{% block content %}
{% include 'bookmark_save_form.html' %}
{% endblock %}
