{% extends "base.html" %}
{% block external %}
<script type="text/javascript" src="/site_media/bookmark_edit.js"></script>
{% endblock %}
{% block title %}{{ username }}{% endblock %}
{% block head %}{{ username }}의 북마크입니다.{% endblock %}
{% block content %}
{% ifequal user.username username %}
<a href="/friends/{{ username }}/">{{ username }}님의 친구들</a>
{% else %}
  {% if is_friend %}
  <a href="/friends/{{ user.username }}/">{{ username }}은 {{ user.username }}의 친구입니다.</a>
  {% else %}
  <a href="/frind/add/?username={{ username }}">{{ username }}를 친구로 추가하세요.</a>
  {% endif %}
  - <a href="/friends/{{ username }}/">{{ username }}의 친구들</a>
{% endifequal %}



  {% include "bookmark_list.html" %}
{% endblock %}
